
/* For desktop: */
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
/* navbar starts here */
.navbar ul li{
   
    font-size: 1.5rem;
    font-weight:lighter;
}



.navbar ul li:hover{
   
     font-weight: bolder;
     text-decoration: underline;
     text-decoration-color: white;
     
}


/* navbar ends here */


/* image slider strts here */
 

/* image slider ends here */

/*animation strts here  */



/* about me design starts here  */
.professional-experience{
    padding: 1% 5%;
   
}



/* animation ends here */

/* footer starts here */

 .footer{
    position: relative;
    height: 600px;
    top:800px;
    color: #fff; 
    padding: 30px 0; 
    
    
 }

 .footer-links a { 
    color: #fff; 
    text-decoration: none; 
    margin-right: 15px; 
    transition: color 0.3s ease; 
} 

.footer-links a:hover { 
    color: #adb5bd; 
} 


 
/* footer ends here */