

.navbar ul li{
   
    font-size: 1.5rem;
    font-weight:lighter;
}



.navbar ul li:hover{
   
     font-weight: bolder;
     text-decoration: underline;
     text-decoration-color: white;
     
}


/* navbar ends here */


/* image slider strts here */
 

/* image slider ends here */


/* product starts here */

.buy a{
    display: block;
    border-radius: 10px;
  }

  .buy a:hover{
    transition:color 0.3s ease ;
    font-weight: bolder;
    
  }
  
  .buy h5{
     text-align: center;
  }

  
  
  .buy p{
    text-align: center;
  }


  .header{
     text-align: center;
     font-weight: bolder;
     text-decoration: dashed;
  }

  .horizontal{
    
    border-top: 4px dashed rgb(221, 6, 6);
   
  }
  .box{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
  }

  .box:hover{
    box-shadow: 0 4px 8px 5px black;
   
  
  }
/*product ends here  */



/* animation design starts here  */
.round-image{
  
        border: 5px solid white;
        border-radius: 50%;
        padding: 15px;
   
}
.card{
    
        background-color: #a39e9e;
        border-radius: 5px;
        padding: 10px;
        transition: 0.3s;
}
    
    
    .cardestic:hover{
        box-shadow: 0px 4px 8px 10px black;
    }

.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}
/* skill container starts here */
.skills-container{
    padding-right: 45px;
}

.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}

.skills-container li::before{
   content: '';
   position: absolute;
   top: calc(100% + 5px);
   left: 0;

   width: 100%;
   height: 10px;
   background-color: rgb(86,86,153,.5);
   border-radius: 1000px;
}


.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
 
    width: 0;
    height: 10px;
    background-color: rgb(86,86,153,1);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
 }

 .skills-container li.laptop::after{
     animation-name: laptop;
 }

 @keyframes laptop{
     to{
         width: 90%;
     }
 }

 
 
 .skills-container li.iphone::after{
    animation-name:iphone;
 }
 
 @keyframes iphone{
     to{
         width: 85%;
     }
 }
 
 .skills-container li.headphone::after{
     animation-name: headphone;
  }
  
  @keyframes headphone{
      to{
          width: 75%;
      }
  }
 
  .skills-container li.shoes::after{
     animation-name: shoes;
  }
  
  @keyframes shoes{
      to{
          width: 75%;
      }
  }
  
 
 .skills-container li.charger::after{
    animation-name: charger;
 }
 
 @keyframes charger{
     to{
         width: 65%;
     }
 }
/* skill container ends here */


/* skill container1 starts here */
.skills-container1{
    padding-right: 45px;
}

.skills-container1 li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}

.skills-container1 li::before{
   content: '';
   position: absolute;
   top: calc(100% + 5px);
   left: 0;

   width: 100%;
   height: 10px;
   background-color: rgb(86,86,153,.5);
   border-radius: 1000px;
}


.skills-container1 li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
 
    width: 0;
    height: 10px;
    background-color: rgb(86,86,153,1);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
 }

 .skills-container1 li.laptop::after{
     animation-name: laptop;
 }

 @keyframes laptop{
     to{
         width: 90%;
     }
 }

 
 
 .skills-container1 li.iphone::after{
    animation-name:iphone;
 }
 
 @keyframes iphone{
     to{
         width: 45%;
     }
 }
 
 .skills-container1 li.headphone::after{
     animation-name: headphone;
  }
  
  @keyframes headphone{
      to{
          width: 85%;
      }
  }
 
  .skills-container1 li.shoes::after{
     animation-name: shoes;
  }
  
  @keyframes shoes{
      to{
          width: 60%;
      }
  }
  
 
 .skills-container1 li.charger::after{
    animation-name: charger;
 }
 
 @keyframes charger{
     to{
         width: 70%;
     }
 }
/* skill container1 ends here */

/* skill container2 starts here */
.skills-container2{
    padding-right: 45px;
}

.skills-container2 li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}

.skills-container2 li::before{
   content: '';
   position: absolute;
   top: calc(100% + 5px);
   left: 0;

   width: 100%;
   height: 10px;
   background-color: rgb(86,86,153,.5);
   border-radius: 1000px;
}


.skills-container2 li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
 
    width: 0;
    height: 10px;
    background-color: rgb(86,86,153,1);
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
 }

 .skills-container2 li.five::after{
     animation-name: five;
 }

 @keyframes five{
     to{
         width: 90%;
     }
 }

 
 
 .skills-container2 li.four::after{
    animation-name:four;
 }
 
 @keyframes four{
     to{
         width: 85%;
     }
 }
 
 .skills-container2 li.three::after{
     animation-name: three;
  }
  
  @keyframes three{
      to{
          width: 75%;
      }
  }
 
  .skills-container2 li.two::after{
     animation-name: shoes;
  }
  
  @keyframes two{
      to{
          width: 75%;
      }
  }
  
 
 .skills-container2 li.one::after{
    animation-name: one;
 }
 
 @keyframes one{
     to{
         width: 45%;
     }
 }
/* skill container2 ends here */


/* animation ends here */

/* footer starts here */

 .footer{
    /* position: relative; */
    height: 600px;
    /* top:800px; */
    color: #fff; 
    padding: 30px 0; 
    
    
 }

 .footer-links a { 
    color: #fff; 
    text-decoration: none; 
    margin-right: 15px; 
    transition: color 0.3s ease; 
} 

.footer-links a:hover { 
    color: #adb5bd; 
} 


 
/* footer ends here */